.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 100vh;
}
.main-content {
    flex: 1;
}
.blogs{
    display: grid;
    padding: 2rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.write-blog{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 50%;
}
#exampleFormControlTextarea1{
    height: 10rem;
}
.blog{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media ( max-width: 992px ){
    .main-content {
        grid-template-columns: 1fr;
    }
}
